* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: #0A1A2F  ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body h1{
    color: white;
    margin-bottom: 20px;
}
.container {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
}
.lists , li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contOne {
    background: #1E3A5F;
    width: 60vh;
    border-radius: 24px;
    box-shadow: 4px 0 10px #000000a9;
    color: white;
    overflow: hidden;
    transition: 0.3s;
    display: flex;
    height: 5rem;
    justify-content: space-between;
    padding: 14px;
}
.contOne span {
    background-color: rgb(191, 0, 0);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 14px;
}
.contOne span:hover {
    background: red;
    transform: translateY(-1px);
    box-shadow: 0 0 12px rgba(255, 0, 0, 0.957);
}
.contOne::before {
    content: "";
    display: flex;
    height: 20px;
    width: 20px;
    border: 1px solid white;
    border-radius: 50%;
}
.checked::before{
    text-decoration: line-through;
    content:'';
    display: flex;
    background: green;
}
.liChecked {
    text-decoration: line-through;
}

.para{
    padding: 10px;
    color: rgba(255, 255, 255, 0.963);
    margin-top: 8px;
}
.del {
    opacity: 0;
    pointer-events: knone;
    transition: opacity 0.2s ease;
    background: rgb(193, 2, 2);
    width: 14%;
    display: none;
    justify-content: center;
    align-items: center;
    transition:  0.3s ease-out;

}

.del:hover{
    transition: ease-out;
    background: rgb(231, 0, 0);
    i {
    transform: scale(1.3);
    }
}
.contOne:hover .del {
    opacity: 1;
    display: inline-flex;
    transition: ease-out;
    pointer-events: auto;
}
.inputField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 60vh;
    border-radius: 14px;
    background: #1E3A5F;
    padding: 10px;
    margin: 14px;
    height: 12%;
}
.inputField input {
    outline: #0A1A2F;
    width: 100%;
    height: 60px;
    border-radius: 6px;
    border: none;
    padding: 4px;
}
.inputField button {
    width: 30%;
    height: 60px;
    background: blue;
    border-radius: 6px;
    color: white;
    border: none;
    box-shadow: 0 0 12px rgba(3, 53, 255, 0.5);
}
.inputField button:hover{
    transform: scale(0.94);
}
.deleteOption {
    position: fixed;
    top: 30%;
    display: none;
    width: 30%;
    height: 20%;
    background: #1E3A5F;
    border-radius: 18px;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    padding: 14px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.6);
}
.deleteOption h3{
    color: white;
    font-weight: bold;
}
.blur {
    position: fixed;
    z-index: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(241, 244, 246, 0);
    backdrop-filter: blur(8px);
}
.buttons {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 60px;
}
.btnYes{
    width: 20%;
    height: 20%;
    border-radius: 6px;
    border: none;

}
.btnNo {
    width: 20%;
    height: 20%;
    border-radius: 6px;
    border: none;
}
.btnYes:hover{
    transform: scale(1.1);
    background: red;
    color: white;

}
.btnNo:hover {
    transform: scale(1.1);
    background: rgb(83, 195, 49);
    color: white;
}
.lists{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
